  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    padding-left: 10%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #ff0099;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  }

  body {
    background-image: url("topography.png");
  }

  div {
    padding: 10% 10% 10% 10%;
    font-family: consolas, courier;
  }

  h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
  }

  h2 {
      color: magenta;
      font-family: 'Liu Jian Mao Cao', cursive;
  }